body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: #ababab; 
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li img.nav-logo {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

nav ul li .name {
    font-size: 40px;
    color: orange;
    font-weight: 600;
    margin-right: 100px;
}

.left-menu {
    margin-right: auto;
}


nav ul li a {
    color: #ababab;
    font-size: 20px;
    font-weight: 700;
    margin-right: 50px;
    text-decoration: none;
}

nav ul li a:hover {
    color: orange;
}


/* login and signup button */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #f5f2f2;
    border: 2px solid orange;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn {
    background-color: transparent;
    margin-right: 20px; /* space between login and signup */
}

.signup-btn {
    background-color: orange;
    color: #fffdfd;
}

.btn:hover {
    background-color: orange;
    color: #f4f1f1;
    cursor: pointer;
}


/* home section */
.main-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 450px;
}

.main-container h1 {
    font-size: 80px;
    font-weight: 700;
    color: #ababab;
}

.main-container h2 {
    font-size: 20px;
    font-weight: 200;
    color: #ababab;
}

button {
    background-color: orange; 
    color: #f9f1f1; 
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 20px;
    font-weight: 700;
    transition: background-color 0.5s;
}

button:hover {
    background-color: darkorange; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

button:focus {
    outline: 3px solid rgb(171, 171, 58);
}






/* Popup styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width */
    position: relative; /* Add relative positioning for the close button */
}

/* Styles for View Quizzes */
.quiz-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* Adjust the quiz buttons */
#choice-section {
    text-align: center;
}

#choice-section button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}







/* progress bar */
.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
}

.progress {
    width: 60%;
    height: 10px;
    background-color: orange;
    border-radius: 5px;
}


/* stats counter section */
.stats-counter {
    text-align: center;
    padding: 50px 0;
    background-color: black;
    color: #ababab;
}

.stats-counter h2 {
    font-size: 40px;
    color: orange;
    margin-bottom: 40px;
    font-weight: 700;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

.stat-item {
    font-size: 24px;
    color: #ababab;
}

.stat-number {
    font-size: 48px;
    color: orange;
    font-weight: 700;
}


/* call to action (cta banner )*/
.cta-banner {
    background-color: black;
    padding: 40px;
    text-align: center;
    color: #ababab;
    margin-top: 20px;
}

.cta-banner h2 {
    font-size: 50px;
    color: orange;
    margin-bottom: 10px;
}

.cta-banner p {
    font-size: 20px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: orange;
    color: #f9f4f4;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: darkorange;
}


/* testimonial carousel */
.testimonial-carousel {
    background-color: black;
    padding: 50px;
    text-align: center;
    color: #ababab;
}

.testimonial-carousel h2 {
    font-size: 50px;
    color: orange;
    margin-bottom: 20px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 20px;
}

.testimonial-slide {
    width: 250px;
    background-color: #232323;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s;
}

.testimonial-slide img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-slide p {
    color: #ccc;
    font-size: 15px;
    margin: 0;
}


/* discover quiz section */
.discover-quiz {
    text-align: center;
    padding: 50px 20px;
    background-color: #0a0a0a;
    margin-bottom: 0px;
}

.discover-quiz h2 {
    color: orange;
    font-size: 50px;
    margin-bottom: 40px;

}

.quiz-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #1c1c1c;
    color: #ababab;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Increased card width */
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.quiz-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card h3 {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

.card button {
    background-color: orange;
    color: #fff7f7;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #ff9f1a;
}


/*leaderboard*/
.leaderboard-section {
    text-align: center;
    padding: 40px;
    background-color: #181818;
    color: #ababab;
    /* margin-bottom: 0px; */
}

.leaderboard-section h2 {
    font-size: 50px;
    color: orange;
    margin-bottom: 40px;
    font-weight: 700;
}

.leaderboard-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.leaderboard-card {
    background-color: #262626;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.leaderboard-card:hover {
    transform: scale(1.05);
}

.player-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.leaderboard-card h3 {
    font-size: 20px;
    color: orange;
    margin: 10px 0;
}

.leaderboard-card p {
    font-size: 16px;
    color: #ccc;
}

.achievement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.trophy-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.achievement span {
    font-size: 14px;
    color: #ababab;
    font-weight: 500;
}


/* about us */
.about-us-section {
    padding: 50px 20px;
    background-color:#2c3e50;
    color: #333;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-us-container {
    width: 80%;
    margin: auto;
}

.about-us-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #9d8e7c;
    margin-bottom: 20px;
}

.about-us-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ababab;
}

.about-us-section .signature {
    font-size: 20px;
    font-style: italic;
    color: #abaaab;
}

@media (max-width: 768px) {
    .about-us-container {
        width: 95%;
    }

    .about-us-section h2 {
        font-size: 28px;
    }

    .about-us-section p {
        font-size: 16px;
    }
}


/* contact us */
#contact-us {
    background-color: #1e1e1e;
    color: whitesmoke;
    padding: 50px 20px;
    text-align: center;
}

.contact-container h2 {
    font-size: 50px;
    font-weight: 700;
    color: orange;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;

}

.contact-form {
    margin-bottom: 30px;
    color: #ababab;
}

.contact-form input, 
.contact-form textarea {
    width: 85%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #181818;
    font-size: large;

}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: darkorange;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    .quiz-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}


